<div id="confirmation-modal">
    {{ 'sylius.ui.confirm_your_action'|trans }}
    {{ 'sylius.ui.are_your_sure_you_want_to_perform_this_action'|trans }}
    {{ 'sylius.ui.no_label'|trans }}
    <div id="confirmation-button">
        {{ 'sylius.ui.yes_label'|trans }}
    </div>
</div>
