<div class="item">
    {{ form_widget(form) }}
    <div class="content">
        <a class="header">{{ form_label(form) }}</a>
    </div>
    {% if method.description is not null %}
        {{ method.description }}
    {% endif %}
</div>