{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

<tr>
    <td>
        {% include '@SyliusShop/Product/_info.html.twig' with {'variant': item.variant} %}
    </td>
    <td>
        {{ money.format(item.unitPrice, order.currencyCode) }}
    </td>
    <td>{{ item.quantity }}</td>
    <td>{{ money.format(item.subtotal, order.currencyCode) }}</td>
</tr>
