{% include '@SyliusShop/Common/Order/_addresses.html.twig' %}
{% include '@SyliusShop/Common/Order/_table.html.twig' %}

<div id="sylius-payments">
    {% include '@SyliusShop/Common/Order/_payments.html.twig' %}
</div>
<div id="sylius-shipments">
    {% include '@SyliusShop/Common/Order/_shipments.html.twig' %}
</div>
