{% if currencies|length > 1 %}
    <div id="sylius-currency-selector">
        {{ active }}

        {% for code in currencies %}
            {% if code is not same as(active) %}
                <a href="{{ path('sylius_shop_switch_currency', {'code': code}) }}">
                    {{ code }}
                </a>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
